
body{
    margin: 0%;
    padding: 0%;
    background-color:rgb(221, 46, 46);
}

 h2{
    color: blue;
	text-align: center;
} 

.menu {
	display: flex;
    margin-left: auto;
}

.menu li a {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.001em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 60px;
}
