{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
<body>

    <div class="container">
        <h1>About Page</h1>
    </div>
    <header id="header" class="header">
		<div class="container">
			<div class="nav">
				<img src="#" alt="Fanpage AITU" class="logo">
				<ul class="menu">
					<li>
						<a href="#">
							Home
						</a>
					</li>
					<li>
						<a href="#">
							About
						</a>
					</li>
					<li>
						<a href="#">
							Log In
						</a>
					</li>
					<li>
						<a href="#">
							Sign Up
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
    <center><div class="team">PythonPEEK Team</div></center>
    <header id="header1" class="header1">
        <div class="container">
            <center><div class="teammember">
                <div>
                    <img src="#" alt="" class="firstmember">
                    <p>Adilet Alpysbaev</p>
                    <p>Developer</p>
                </div>
                <div>
                    <img src="#" alt="" class="secondmember">
                    <p>Abylay Pugashbek</p>
                    <p>Developer</p>
                </div>
                <div>
                    <img src="#" alt="" class="thirstmember">
                    <p>Almas Zhanabilov</p>
                    <p>Developer</p>
                </div>
            </center></div>
        </div>
    </header>
    
</body>
{% endblock %}
