{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}

{#<center><div class="team">Liverpool the best club ever</div></center>#}

<header id="header1" class="header1">
    <div class="container">
        <center><div class="teammember">
            <div class="fi">
                <img src="..\FanpageAITU-main\static\asserts\css\Almas.jpg" alt="" class="firstmember">
                <p>Adilet Alpysbaev</p>
                <p>Developer</p>
            </div>
            <div class="se">
                <img src="#" alt="" class="secondmember">
                <p>Abylay Pugashbek</p>
                <p>Developer</p>
            </div>
            <div class="th">
                <img src="#" alt="" class="thirstmember">
                <p>Almas Zhanabilov</p>
                <p>Developer</p>

            </div>
        </center></div>
    </div>
</header>
{% endblock %}