{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}


<div class="container">
     <h1>About Page</h1>
</div>

<center><div class="team">PythonPEEK Team</div></center>
<header id="header1" class="header1">
    <div class="container">
        <center><div class="teammember">
            <div>
                <img src="#" alt="" class="firstmember">
                <p>Adilet Alpysbaev</p>
                <p>Developer</p>
            </div>
            <div>
                <img src="#" alt="" class="secondmember">
                <p>Abylay Pugashbek</p>
                <p>Developer</p>
            </div>
            <div>
                <img src="#" alt="" class="thirstmember">
                <p>Almas Zhanabilov</p>
                <p>Developer</p>
            </div>
        </center></div>
    </div>
</header>
{% endblock %}
