{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <h1>Create Post Page</h1>
        <div class="container">
            <form method="post">
                <label for="title">Title</label>
                <textarea name="title" class="form-control" id="title" placeholder="Enter title" rows="1"></textarea><br>

                <label for="description">Description</label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter description" rows="2"></textarea><br>

                <label for="text">Main Text</label>
                <textarea name="text" class="form-control" id="text" placeholder="Enter the main text here..." rows="5"></textarea><br>

{#                <input type="file" name="picture">#}

                <input type="submit" class="btn btn-success btn-lg" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}