{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container">
        <h1>Home Page</h1>
    </div>


    <header id="header" class="header">
		<div class="container">
			<div class="nav">
				<img src="#" alt="Fanpage AITU" class="logo">
				<ul class="menu">
					<li>
						<a href="#">
							Home
						</a>
					</li>
					<li>
						<a href="#">
							About
						</a>
					</li>
					<li>
						<a href="#">
							Log In
						</a>
					</li>
					<li>
						<a href="#">
							Sign Up
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
{% endblock %}
