{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="abyl-babyl1">
    <div class="container2">
        <form method="post">
            <h1>Sign Up Page</h1>

            <!-- Form for signup -->
            <div class="signup">

                <label for="username"></label>
                <input type="text"
                class="form-control"
                name="username"
                id="username"
                placeholder="Username">
                <br>

                <label for="firstname"></label>
                <input type="text"
                class="form-control1"
                name="firstname"
                id="firstname"
                placeholder="First name">
                <br>

                <label for="lastname"></label>
                <input type="text"
                class="form-control2"
                name="lastname"
                id="lastname"
                placeholder="Last Name">
                <br>

                <label for="password"></label>
                <input type="text"
                class="form-control3"
                name="password"
                id="password"
                placeholder="Password"><br>

                <label for="confirm"></label>
                <input type="text"
                class="form-control4"
                name="confirm"
                id="confirm"
                placeholder="Confirm password">
                <br>

                <input type="submit"
                class="sumbit1"
                value="Sign Up">
                <div class="pi">
                <p>
                    Already have an account? <a href="{{ url_for('login') }}">Log In</a>
                </p>
                </div>
            </div>

        </form>
    </div>
{% endblock %}